.counter-facts {
  background: linear-gradient(rgba(255, 255, 255, .9), rgba(255, 255, 255, 0.8)), url(../assets/img/breadcrumb.png);
  background-size: cover;
  background-attachment: fixed;
  background-position: center center;
  background-repeat: no-repeat;
}

.counter-facts .row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.counter-facts .counter {
  position: relative;
  text-align: center;
  width: 200px;
  min-height: 215px;
  padding: 10px 15px;
  margin: 0 auto;
  border-radius: 100px;
  box-shadow: 0 8px 5px rgba(0, 0, 0, 0.2);
  background: var(--bs-white);
  flex: 1 1 22%;
  margin-bottom: 30px;
}

.counter-facts .counter:before {
  content: "";
  position: absolute;
  height: 105px;
  width: 100%;
  left: 0;
  top: 0;
  border-radius: 10px 10px 0 0;
  background-color: #c7c7c7;
}

.counter-facts .counter .counter-icon {
  position: relative;
  width: 120px;
  height: 100px;
  margin: 0 auto 10px;
  border-radius: 10px 10px 0 0;
  transform: translateY(-20px);
  font-size: 50px;
  line-height: 90px;
  color: var(--bs-secondary);
  background: #0859d4;
  clip-path: polygon(0% 0%, 100% 0, 100% 70%, 50% 100%, 0 70%);
}

.counter-facts .counter .counter-icon:before {
  content: "";
  position: absolute;
  width: 120px;
  height: 90px;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 10px 10px 0 0;
  background: #08449e;
  z-index: -1;
  clip-path: polygon(0% 0%, 100% 0, 100% 70%, 50% 100%, 0 70%);
}

.counter-facts .counter:hover .counter-icon i {
  transform: rotate(360deg);
  transition: all 0.3s ease;
}

.counter-facts .counter h3 {
  color: #08449e;
  font-size: 17px;
  font-weight: 600;
  letter-spacing: 1px;
  text-transform: uppercase;
  margin: 0 0 5px 0;
}

.counter-facts .counter .counter-value {
  font-size: 30px;
  font-weight: 700;
  display: block;
  color: var(--bs-secondary);
}

/* Repeating Slide-In Animation */

.counter-wrapper {
  opacity: 1; /* changed from 0 */
  transform: translateY(0); /* reset */
  transition: all 0.5s ease;
}

.counter-wrapper.slide-in {
  animation: slideIn 0.8s ease;
}



/*** Icon rotation on hover ***/

.counter-facts .counter .counter-icon i,
.counter-facts .counter .counter-icon svg:hover {
  transform: rotate(360deg);
  transition: all 0.3s ease;
}

.counter-facts .counter .counter-icon i,
.counter-facts .counter .counter-icon svg {
  color: #fff;
  transition: all 0.3s ease;
}
